<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159542765-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-159542765-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    {#    <meta name="twitter:site" content="@themepixels">#}
    {#    <meta name="twitter:creator" content="@themepixels">#}
    {#    <meta name="twitter:card" content="summary_large_image">#}
    {#    <meta name="twitter:title" content="DashForge">#}
    {#    <meta name="twitter:description" content="Responsive Bootstrap 4 Dashboard Template">#}
    {#    <meta name="twitter:image" content="http://themepixels.me/dashforge/img/dashforge-social.png">#}

    <!-- Facebook -->
    <meta property="og:url" content="https://covid.bio">
    <meta property="og:title" content="Covid.bio">
    <meta property="og:description" content="Covid Worldwide Dashboard">

    {#    <meta property="og:image" content="http://themepixels.me/dashforge/img/dashforge-social.png">#}
    {#    <meta property="og:image:secure_url" content="http://themepixels.me/dashforge/img/dashforge-social.png">#}
    {#    <meta property="og:image:type" content="image/png">#}
    {#    <meta property="og:image:width" content="1200">#}
    {#    <meta property="og:image:height" content="600">#}

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/img/favicon.png">

    <title>COVID</title>

    <!-- vendor css -->
    <link href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/@fortawesome/fontawesome-free/css/all.min.css"
          rel="stylesheet">
    <link href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/ionicons/css/ionicons.min.css"
          rel="stylesheet">
    <link href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jqvmap/jqvmap.min.css" rel="stylesheet">
    <!--    <link href="{% if url_prefix %}/{{ url_prefix}}{% endif %}/static/lib/typicons.font/typicons.css" rel="stylesheet">-->
    <!--    <link href="{% if url_prefix %}/{{ url_prefix}}{% endif %}/static/lib/prismjs/themes/prism-vs.css" rel="stylesheet">-->
    <!--    <link href="{% if url_prefix %}/{{ url_prefix}}{% endif %}/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">-->
    <!--    <link href="{% if url_prefix %}/{{ url_prefix}}{% endif %}/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">-->
    <!--    <link href="{% if url_prefix %}/{{ url_prefix}}{% endif %}/static/lib/select2/css/select2.min.css" rel="stylesheet">-->

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/css/dashforge.css">
    <link rel="stylesheet" href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/css/dashforge.dashboard.css">
</head>
<body class="page-profile">

<header class="navbar navbar-header navbar-header-fixed ">
    <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    <div class="navbar-brand">
        <a href="../../index.html" class="df-logo">COVID<span>.bio</span></a>
    </div><!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="../../index.html" class="df-logo">dash<span>forge</span></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
            <li class="nav-item {% if url_data.slug == 'worldwide' %}active{% endif %}">
                <a href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/" class="nav-link"><i
                        data-feather="pie-chart"></i> Worldwide</a>

            </li>
            <li class="nav-item {% if url_data.slug == 'worldwide-minus-china' %}active{% endif %}">
                <a href="{% if url_prefix %}/{{ url_prefix }}{% endif %}/minus-china" class="nav-link"><i
                        data-feather="pie-chart"></i> Worldwide Minus China</a>

            </li>
            {#  <li class="nav-item with-sub">
                <a href="" class="nav-link"><i data-feather="package"></i> Country Data</a>
                <ul class="navbar-menu-sub">
                    {% for country in countries|sort %}
                        <li class="nav-sub-item"><a href="{{ country.lower().replace(' ', '-') }}" class="nav-sub-link"><i
                            data-feather="calendar"></i>{{ country }}</a></li>
                    {% endfor %}
                    <li class="nav-sub-item"><a href="app-calendar.html" class="nav-sub-link"><i
                            data-feather="calendar"></i>Calendar</a></li>
                    <li class="nav-sub-item"><a href="app-chat.html" class="nav-sub-link"><i
                            data-feather="message-square"></i>Chat</a></li>
                    <li class="nav-sub-item"><a href="app-contacts.html" class="nav-sub-link"><i
                            data-feather="users"></i>Contacts</a></li>
                    <li class="nav-sub-item"><a href="app-file-manager.html" class="nav-sub-link"><i
                            data-feather="file-text"></i>File Manager</a></li>
                    <li class="nav-sub-item"><a href="app-mail.html" class="nav-sub-link"><i data-feather="mail"></i>Mail</a>
                    </li>#}
        </ul>
        </li>
        </ul>
    </div><!-- navbar-menu-wrapper -->
    <div class="navbar-right">

    </div><!-- navbar-right -->
</header><!-- navbar -->

<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Covid.bio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ url_data.nav }}</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">{{ url_data.title }}</h4>
                <p class="mg-b-0 tx-spacing--1">Data sourced directly from Johns Hopkins</p>
            </div>
            <div class="d-none d-md-block">
                <!--            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>-->

            </div>
        </div>

        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Cases</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ "{:,.0f}".format(totals.confirmed) }}</h3>
                        <p class="tx-11 tx-color-03 mg-b-0"><span
                                class="tx-medium tx-danger">{{ "{:,.0f}".format(primary_deltas.confirmed) }} <i
                                class="icon ion-md-arrow-up"></i></span> new cases today</p>
                    </div>
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Cases</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ "{:,.0f}".format(totals.infected) }}</h3>
                        <p class="tx-11 tx-color-03 mg-b-0"><span
                                class="tx-medium {% if active_increased %}tx-danger{% else %}tx-success{% endif %}">{{ "{:,.0f}".format(primary_deltas.infected) }} <i
                                class="icon {% if active_increased %}ion-md-arrow-up{% else %}ion-md-arrow-down{% endif %}"></i></span>
                            {% if active_increased %}more{% else %}fewer{% endif %} cases today</p>
                    </div>
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Recovered</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ "{:,.0f}".format(totals.recovered) }}</h3>
                        <p class="tx-11 tx-color-03 mg-b-0"><span
                                class="tx-medium tx-success">{{ "{:,.0f}".format(primary_deltas.recovered) }} <i
                                class="icon ion-md-arrow-up"></i></span> recovered today</p>
                    </div>
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Deaths</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ "{:,.0f}".format(totals.deaths) }}</h3>
                        <p class="tx-11 tx-color-03 mg-b-0"><span
                                class="tx-medium tx-danger">{{ "{:,.0f}".format(primary_deltas.deaths) }} <i
                                class="icon ion-md-arrow-up"></i></span> deaths today</p>
                    </div>

                </div>
            </div><!-- col -->


            <div class="col-lg-12 col-xl-12 mg-t-10">
                <div class="card card-crypto">
                    <div class="card-header pd-y-8 d-sm-flex align-items-center justify-content-between">
                        <nav class="nav nav-line">
                            <a href="" class="nav-link active">Totals</a>
                            {# <a href="" class="nav-link">Daily Changes</a> #}
                        </nav>


                        {#                        <div class="d-flex mg-t-20 mg-sm-t-0">#}
                        {#                            <div class="btn-group flex-fill">#}
                        {#                                <button class="btn btn-white btn-xs active">Normal</button>#}
                        {#                                <button class="btn btn-white btn-xs">Log</button>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div><!-- card-header -->
                    <div class="card-body pos-relative pd-0">
                        {#                        <div class="pos-absolute t-20 l-20 wd-xl-100p z-index-10">#}
                        {#                            <div class="row">#}
                        {##}
                        {#                                <div class="col-sm-5 mg-t-20 mg-sm-t-0">#}
                        {#                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-danger tx-semibold mg-b-10">Mortality#}
                        {#                                        Rate</h6>#}
                        {#                                    <h3 class="tx-normal tx-rubik tx-spacing--2 mg-b-5">2.1%</h3>#}
                        {#                                </div><!-- col -->#}
                        {#                                <div class="col-sm-5">#}
                        {#                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-danger tx-semibold mg-b-10">R0#}
                        {#                                    </h6>#}
                        {#                                    <h3 class="tx-normal tx-rubik tx-spacing--2 mg-b-5">2.1 - 4.4</h3>#}
                        {##}
                        {#                                </div><!-- col -->#}
                        {#                            </div><!-- row -->#}
                        {#                        </div>#}

                        <div class="chart-one">
                            <div id="flotChart" class="flot-chart"></div>
                        </div><!-- chart-one -->
                    </div><!-- card-body -->
                    <div class="card-header pd-y-8 d-sm-flex align-items-center justify-content-between">
                        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                            <li class="list-inline-item d-flex align-items-center mg-l-5">
                                <span class="d-block wd-10 ht-10 bg-df-2 rounded mg-r-5"></span>
                                <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Confirmed</span>
                            </li>
                            <li class="list-inline-item d-flex align-items-center mg-l-5">
                                <span class="d-block wd-10 ht-10 bg-df-3 rounded mg-r-5"></span>
                                <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Recovered</span>
                            </li>

                            <li class="list-inline-item d-flex align-items-center">
                                <span class="d-block wd-10 ht-10 bg-df-1 rounded mg-r-5"></span>
                                <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Deaths</span>
                            </li>
                        </ul>
                    </div><!-- card-header -->
                </div><!-- card -->
            </div><!-- col -->


            {% if url_data.display_countries %}
                <div class="col-lg-12 col-xl-12 mg-t-10">
                    <div class="card mg-b-10">
                        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
                            <div>
                                <h6 class="mg-b-5">Country Reports</h6>
                                <p class="tx-13 tx-color-03 mg-b-0">Track your countries numbers</p>
                            </div>
                            <!--                <div class="d-flex mg-t-20 mg-sm-t-0">-->
                            <!--                  <div class="btn-group flex-fill">-->
                            <!--                    <button class="btn btn-white btn-xs active">Range</button>-->
                            <!--                    <button class="btn btn-white btn-xs">Period</button>-->
                            <!--                  </div>-->
                            <!--                </div>-->
                        </div><!-- card-header -->
                        <div class="card-body pd-y-10">
                            <!--                <div class="d-sm-flex">-->
                            <!--                  <div class="media">-->
                            <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">-->
                            <!--                      <i data-feather="bar-chart-2"></i>-->
                            <!--                    </div>-->
                            <!--                    <div class="media-body">-->
                            <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Gross Earnings</h6>-->
                            <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$1,958,104</h4>-->
                            <!--                    </div>-->
                            <!--                  </div>-->
                            <!--                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">-->
                            <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-pink tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-5">-->
                            <!--                      <i data-feather="bar-chart-2"></i>-->
                            <!--                    </div>-->
                            <!--                    <div class="media-body">-->
                            <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Tax Withheld</h6>-->
                            <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$234,769<small>.50</small></h4>-->
                            <!--                    </div>-->
                            <!--                  </div>-->
                            <!--                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">-->
                            <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-4">-->
                            <!--                      <i data-feather="bar-chart-2"></i>-->
                            <!--                    </div>-->
                            <!--                    <div class="media-body">-->
                            <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Net Earnings</h6>-->
                            <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>-->
                            <!--                    </div>-->
                            <!--                  </div>-->
                            <!--                </div>-->
                        </div><!-- card-body -->
                        <div class="table-responsive pd-l-10 pd-lg-l-20 pd-r-10 pd-lg-r-20 pd-b-10 pd-lg-b-20">
                            <table id="example2" class="table table-dashboard mg-b-0">
                                <thead>
                                <tr>
                                    <th>Country</th>
                                    <th class="text-center">Confirmed Cases</th>
                                    <th class="text-center">Active Cases</th>
                                    <th class="text-center">Recovered</th>
                                    <th class="text-center">Deaths</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for country_name, country in countries.items() %}
                                    <tr>
                                        <td class="tx-color-03 tx-normal"><a
                                                href="/{{ country_name.lower().replace(' ', '-') }}">{{ country_name }}</a>
                                        </td>
                                        <td class="tx-medium text-right"
                                            data-order="{{ country.totals.confirmed }}">{{ "{:,.0f}".format(country.totals.confirmed) }}
                                            {% if country.deltas.confirmed[-1] > 0 %}<span
                                                    class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                    class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(country.deltas.confirmed[-1]) }}</span>{% endif %}
                                        </td>
                                        <td class="tx-medium text-right"
                                            data-order="{{ country.totals.infected }}">{{ "{:,.0f}".format(country.totals.infected) }}
                                            {% if country.deltas.confirmed[-1] > 0 %}<span
                                                    class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                    class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(country.deltas.infected[-1]) }}</span> {% endif %}
                                        </td>
                                        <td class="tx-medium text-right"
                                            data-order="{{ country.totals.recovered }}">{{ "{:,.0f}".format(country.totals.recovered) }}
                                            {% if country.deltas.recovered[-1] > 0 %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-success"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(country.deltas.recovered[-1]) }}</span> {% endif %}
                                        </td>
                                        <td class="tx-medium text-right"
                                            data-order="{{ country.totals.deaths }}">{{ "{:,.0f}".format(country.totals.deaths) }}
                                            {% if country.deltas.deaths[-1] > 0 %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(country.deltas.deaths[-1]) }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- card -->


                </div><!-- col -->
            {% endif %}

            <div class="col-lg-12 col-xl-12 mg-t-10">
                <div class="card mg-b-10">
                    <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
                        <div>
                            <h6 class="mg-b-5">Daily Updates</h6>
                            <p class="tx-13 tx-color-03 mg-b-0">Day to Day Changes</p>
                        </div>
                        <!--                <div class="d-flex mg-t-20 mg-sm-t-0">-->
                        <!--                  <div class="btn-group flex-fill">-->
                        <!--                    <button class="btn btn-white btn-xs active">Range</button>-->
                        <!--                    <button class="btn btn-white btn-xs">Period</button>-->
                        <!--                  </div>-->
                        <!--                </div>-->
                    </div><!-- card-header -->
                    <div class="card-body pd-y-10">
                        <!--                <div class="d-sm-flex">-->
                        <!--                  <div class="media">-->
                        <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">-->
                        <!--                      <i data-feather="bar-chart-2"></i>-->
                        <!--                    </div>-->
                        <!--                    <div class="media-body">-->
                        <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Gross Earnings</h6>-->
                        <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$1,958,104</h4>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">-->
                        <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-pink tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-5">-->
                        <!--                      <i data-feather="bar-chart-2"></i>-->
                        <!--                    </div>-->
                        <!--                    <div class="media-body">-->
                        <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Tax Withheld</h6>-->
                        <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$234,769<small>.50</small></h4>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">-->
                        <!--                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-4">-->
                        <!--                      <i data-feather="bar-chart-2"></i>-->
                        <!--                    </div>-->
                        <!--                    <div class="media-body">-->
                        <!--                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Net Earnings</h6>-->
                        <!--                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </div>-->
                    </div><!-- card-body -->
                    <div class="table-responsive pd-l-10 pd-lg-l-20 pd-r-10 pd-lg-r-20  pd-b-10 pd-lg-b-20">
                        <table id="historical" class="table table-dashboard mg-b-0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th class="text-center">Confirmed Cases</th>
                                <th class="text-center">Active Cases</th>
                                <th class="text-center">Recovered</th>
                                <th class="text-center">Deaths</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(0, dates|length) %}
                                <tr>
                                    <td class="tx-color-03 tx-normal" data-order='{{ i }}'>{{ dates[i] }}
                                    </td>
                                    <td class="tx-medium text-right"
                                        data-order="{{ chart_data['confirmed'][i][1] }}">{{ "{:,.0f}".format(chart_data['confirmed'][i][1]) }}
                                        {% if i > 0 %}
                                            {% if chart_data['confirmed'][i][1] > chart_data['confirmed'][i - 1][1] %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(chart_data['confirmed'][i][1] - chart_data['confirmed'][i - 1][1]) }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="tx-medium text-right"
                                        data-order="{{ chart_data['infected'][i][1] }}">{{ "{:,.0f}".format(chart_data['infected'][i][1]) }}
                                        {% if i > 0 %}
                                            {% if chart_data['infected'][i][1] > chart_data['infected'][i - 1][1] %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(chart_data['infected'][i][1] - chart_data['infected'][i - 1][1]) }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="tx-medium text-right"
                                        data-order="{{ chart_data['recovered'][i][1] }}">{{ "{:,.0f}".format(chart_data['recovered'][i][1]) }}
                                        {% if i > 0 %}
                                            {% if chart_data['recovered'][i][1] > chart_data['recovered'][i - 1][1] %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-success"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(chart_data['recovered'][i][1] - chart_data['recovered'][i - 1][1]) }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="tx-medium text-right"
                                        data-order="{{ chart_data['deaths'][i][1] }}">{{ "{:,.0f}".format(chart_data['deaths'][i][1]) }}
                                        {% if i > 0 %}
                                            {% if chart_data['deaths'][i][1] > chart_data['deaths'][i - 1][1] %}
                                                <span
                                                        class="mg-l-5 tx-10 tx-normal tx-danger"><i
                                                        class="icon ion-md-arrow-up"></i> {{ "{:,.0f}".format(chart_data['deaths'][i][1] - chart_data['deaths'][i - 1][1]) }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div><!-- card -->


            </div><!-- col -->

        </div><!-- row -->
    </div><!-- container -->
</div><!-- content -->

<footer class="footer">
    <div>
        <span>&copy; 2019 </span>
        <span>Created by <a href="https://github.com/sibblegp">George Sibble</a></span>
    </div>
    {#    <div>#}
    {#        <nav class="nav">#}
    {#            <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>#}
    {#            <a href="../../change-log.html" class="nav-link">Change Log</a>#}
    {#            <a href="https://discordapp.com/invite/RYqkVuw" class="nav-link">Get Help</a>#}
    {#        </nav>#}
    {#    </div>#}
</footer>

<script>

    function gd(date) {
        const d = date.split('/');
        const year = Number.parseInt('20'.concat(d[2])) - 1;
        const month = Number.parseInt(d[0]) - 1;
        const day = Number.parseInt(d[1]) - 1
        const nd = new Date(year, month, day).getTime();
        console.log(nd);
        return nd
    }

    const settings_url = '{% if url_prefix %}/{{ url_prefix}}{% endif %}/settings.html';

    const url_prefix = '{% if url_prefix %}/{{ url_prefix}}{% endif %}';

    const chart_max = {{ totals.confirmed }};

    const tickArray = [{% for date in dates %}gd("{{ date }}"){% if loop.index != dates|length %},{% endif %}{% endfor %}];

    const earliestDate = gd("{{ dates[0] }}");

    const latestDate = gd("{{ dates[-1] }}");

    const confirmed_time_series = [{% for data in chart_data.confirmed %}[gd("{{ dates[loop.index0] }}"), {{ data[1] }}]{% if loop.index != dates|length %},{% endif %}{% endfor %}];
    const recovered_time_series = [{% for data in chart_data.recovered %}[gd("{{ dates[loop.index0] }}"), {{ data[1] }}]{% if loop.index != dates|length %},{% endif %}{% endfor %}];
    const deaths_time_series = [{% for data in chart_data.deaths %}[gd("{{ dates[loop.index0] }}"), {{ data[1] }}]{% if loop.index != dates|length %},{% endif %}{% endfor %}];
</script>

<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jquery/jquery.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/feather-icons/feather.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jquery.flot/jquery.flot.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jquery.flot/jquery.flot.stack.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/chart.js/Chart.bundle.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jqvmap/jquery.vmap.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/jqvmap/maps/jquery.vmap.usa.js"></script>

<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/js/dashforge.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/js/dashforge.sampledata.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/js/dashboard-one.js"></script>

<!-- append theme customizer -->
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/lib/js-cookie/js.cookie.js"></script>
<script src="{% if url_prefix %}/{{ url_prefix }}{% endif %}/static/js/dashforge.settings.js"></script>

<script>

    $('#example2').DataTable({
        responsive: false,
        paging: false,
        searching: false,
        "info": false,
        "order": [[1, "desc"]],
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
        }
    });

    $('#historical').DataTable({
        responsive: false,
        paging: false,
        searching: false,
        "info": false,
        "order": [[0, "desc"]],
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
        }
    });



    window.darkMode = function () {
        $('.btn-white').addClass('btn-dark').removeClass('btn-white');


    }

    window.lightMode = function () {
        $('.btn-dark').addClass('btn-white').removeClass('btn-dark');


    }

    var hasMode = Cookies.get('df-mode');
    if (hasMode === 'dark') {
        darkMode();
    } else {
        lightMode();
    }


</script>


</body>
</html>
